body {
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: #000000;
}
h1,h2,h3,h4,h5,h6 {
    cursor: default;
    user-select: none;
}
.bg-throne {
    background-image: url('tthrone.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
nav#titlebar {
    display: flex;
    align-items: center;
    background-color: #c2b280;
    color: #000000;
    height: 4rem;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 0px 0px 0.25rem #000000;
    padding: 0 1rem;
}
nav#titlebar h1 {
    margin: 0 0 0 32px;
    flex-grow: 1;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}
nav#titlebar h1 a {
    color: inherit;
    text-decoration: none;
}
nav#guidesbar {
    display: none;
    z-index: 999;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #d6c694;
    width: 100%;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 0 0.25rem 0.25rem rgb(0 0 0 / 50%);
}
.nav-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 1rem;
}
.nav-top h2 {
    flex-grow: 1;
    margin: 0 0 0 32px;
    text-align: center;
    font-weight: 700;
    font-size: 1.17rem;
}
nav#guidesbar hr {
    margin: 0;
}
nav#guidesbar ul.nav-bottom {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav#guidesbar ul.nav-bottom li {
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
nav#guidesbar ul.nav-bottom li:active {
    background-color: rgb(0 0 0 / 25%);
}
.nav-bottom a {
    color: #000000;
    text-decoration: none;
}
nav#titlebar button#openguidesbtn, nav#guidesbar button#closeguidesbtn {
    display: block;
    padding: 8px;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
nav#titlebar button#openguidesbtn:active, nav#guidesbar button#closeguidesbtn:active {
    background-color: rgb(0 0 0 / 15%);
}
nav#titlebar button#openguidesbtn {
    background-image: url('menu.svg');
}
nav#guidesbar button#closeguidesbtn {
    background-image: url('x.svg');
}
#banner {
    width: 100%;
    aspect-ratio: 128 / 49;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #ffffff;
    text-shadow: 0 0 5px rgb(0 0 0 / 75%);
    border-radius: 0.25em;
}
#banner.banner-lightning {
    background-image: url('banner-lightning.webp');
}
#banner.banner-madness {
    background-image: url('banner-madness.webp');
}
#banner.banner-corruption {
    background-image: url('banner-corruption.webp');
}
#banner h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}
#content {
    /* #f7f2e1 / 80% */
    background-color: rgb(247 242 225 / 80%);
    margin: 0;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    padding: 1rem 1.5rem;
    min-height: calc(100vh - 8rem - 1px);
}
#content p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-top: 0;
    margin-bottom: 1rem;
}
#content ul {
    margin: 0.5rem 0 1rem;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    margin: 1rem 0 0 0;
    font-weight: 700;
}
#content h2 {
    font-size: 1.5rem;
}
#content h3 {
    font-size: 1.17rem;
}
#content a {
    color: #bc982f;
    cursor: pointer;
    text-decoration: none;
}
#content a:active {
    color: #987a23;
}
#content hr {
    clear: both;
}
#content .caption {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
    color: #575757;
}
#content .vert-margin {
    margin: 1rem 0;
}
#content img {
    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 75%);
}
@media screen and (max-width: 599px) {
    #content .inline-left, #content .inline-right {
        text-align: center;
    }
}
@media screen and (min-width: 600px) {
    #content {
        padding: 2rem 8rem;
    }
    nav#titlebar {
        padding: 0 3rem;
    }
    .nav-top {
        margin: 0.5rem 3rem;
    }
    nav#guidesbar ul.nav-bottom li {
        padding: 0.5rem 3rem;
    }
    .nav-bottom li:hover {
        background-color: rgb(0 0 0 / 15%);
    }
    nav#titlebar button#openguidesbtn:hover, nav#guidesbar button#closeguidesbtn:hover {
        background-color: rgb(0 0 0 / 5%);
    }
    nav#titlebar button#openguidesbtn:active, nav#guidesbar button#closeguidesbtn:active {
        background-color: rgb(0 0 0 / 15%);
    }
    #content a:hover {
        color: #aa8929;
    }
    #content a:active {
        color: #987a23;
    }
    #content .inline-left {
        margin-right: 1rem;
        float: left;
    }
    #content .inline-right {
        margin-left: 1rem;
        float: right;
    }
}
